.task-item {
	padding: 1.5rem;
	background-color: brown;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 0.25rem;
	box-shadow: 6px 5.5px 11.2px -10px rgba(0, 0, 0, 0.088),
		19.9px 18.4px 37.5px -10px rgba(0, 0, 0, 0.116),
		81px 75px 168px -10px rgba(0, 0, 0, 0.15);
}
