.new-task {
	padding: 3rem 2rem;
	width: 30%;
	margin-top: 5rem;
	margin-left: 35%;
}

.new-task__controls {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.new-task__controls label {
	font-weight: 700;
}

.new-task__controls input {
	padding: 0rem 0.5rem;
}

.new-task__controls input:focus {
	outline: none;
	border: 1px solid black;
	box-shadow: 0px 0px 0.7px rgba(0, 0, 0, 0.017),
		0px 0px 1.6px rgba(0, 0, 0, 0.024), 0px 0px 2.8px rgba(0, 0, 0, 0.03),
		0px 0px 4.5px rgba(0, 0, 0, 0.035), 0px 0px 7px rgba(0, 0, 0, 0.04),
		0px 0px 10.9px rgba(0, 0, 0, 0.046), 0px 0px 18px rgba(0, 0, 0, 0.053),
		0px 0px 36px rgba(0, 0, 0, 0.07);
}

.new-task__actions {
	font-size: 1.5rem;
	margin-top: 1rem;
}